<footer id="footer">
    <p>
        Copyright (c)  2014-<%- new Date().getFullYear() %> <%- config.author %>
        <% if (config.author_site) { %> - <a href="http://<%- config.author_site %>"><%- config.author_site %></a><% } %><br />
        Unless otherwise specified, all content of this site is published under the
        <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en">cc by-sa 3.0</a> license
    </p>
</footer>
